<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Explore Bangladesh</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
     <form class="navbar-form navbar-right" action="/action_page.php">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-danger">Submit</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/registration"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<div class="container">
    <!-- <h2 class="bg-danger" style="text-align: center;  font-family: Aerial">Admin Dashboard</h2> -->

      
    <br/></br>
      <table class="table table-striped" border="4">
          <thead>
            <tr>
              <th>Serial</th>
              <th>Image</th>
              <th>Post Title</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td><img src="../pics/1.jpg" alt="..." class="img-fluid img-thumbnail"></td>
              <td>I stayed in Long Beach Hotel, by far the cheapest 4 star hotel I've ever been at. I was recovering from illness so I spent alot of it relaxing in my nice room, and a few short trips out to the areas. The long beach was super crowded and the area very developed with many massive new resorts being built up....</td>
              <th><a href="#"><a href="/details">Details</a></th>
            </tr>
            <tr>
              <td>2</td>
              <td><img src="2.jpg" alt="..." class="img-fluid img-thumbnail"></td>
              <td>bandarban is the hill tracts of Chittagong only 92 km away from chittagong, it is the best place for trekking experience easily access from Dhaka by direct non a/c public transport or dhaka to chittagong by air / train / a/c volvo bus and then chittagong to bandarban a/c and non a/c chander gari / jeep. Chimbuk - Nilgiri - ruma - boga lake - shoilo propat and keokradong peak ( 4035 ft ) is the Major travel destination in Bandarban.</td>
             <th><a href="/details">Details</a></th>
            </tr>
            <tr>
              <td>3</td>
              <td><img src="3.jpg" alt="..." class="img-fluid img-thumbnail"></td>
              <td>Sajek Valley is one of the top tourist destinations of Bangladesh. No other place in Bangladesh is available like Sajek. It is the place where green, Scenic beauty of hills, wilderness, playing with cloud will surely fill your mind with joy. For the natural beauty of Sajek valley, it attracts the tourist. Every day thousands of people visit Sajek Valley to enjoy the beauty of nature. To facilitate the tourists, Different Sajek Resorts are made there. Here we have described the tour guide of Sajek Valley</td>
              <th><a href="/details">Details</a></th>
            </tr>
          </tbody>
      </table>
</div>

</body>
</html>




















